{
    "env": {
        "browser": true,
        "node": true,
        "amd": true,
        "es6": true
    },

    "parser": "babel-eslint",

    "plugins": ["react",],

    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true,
        },
    },

    "rules": {
        "no-cond-assign": 2,
        "no-console": 1,
        "semi": [2, "always"],
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "valid-typeof": 1,
        "dot-location": [1, "property"],
        "comma-spacing": [1, {"before": false, "after": true}],
        "keyword-spacing": 1,
        "space-before-blocks": 1,
        "new-cap": 1,
        "no-mixed-spaces-and-tabs": 1,
        "no-spaced-func": 1,
        "no-use-before-define": 2,
        "no-shadow": 2,
        "no-catch-shadow": 2,
        "no-unused-vars": 1,
        "jsx-quotes": [1, "prefer-single"],
        "space-infix-ops": 1,
        "no-undef": 2,

        "react/jsx-uses-vars": 1,
        "react/react-in-jsx-scope": 2,
        "react/jsx-key": 2,
        # "react/jsx-first-prop-new-line": [1, "never"],
        "react/jsx-boolean-value": 1,
        "react/jsx-closing-bracket-location": [1, 'after-props'],
        "react/jsx-no-duplicate-props": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-uses-react": 1,
        # "react/no-direct-mutation-state": 2,
        "react/no-unknown-property": 1,
        "react/jsx-space-before-closing": 1,
        "react/jsx-pascal-case": 1,
        "react/prefer-es6-class": 1,
        "react/jsx-indent-props": 1,
        "react/self-closing-comp": 1,

        # es6
        "arrow-spacing": 1,
        "constructor-super": 2,

    }
}
