.pagination {
    text-align: center;
    div {
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
    }
    .current-page {
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        &.active-state{
            background: transparent;
        }
    }
    // button {
    //     padding: 10px 15px;
    //     width: 100%;
    //     border: none;
    //     background: transparent;
    //     font-size: 14px;
    //     line-height: 1.4;
    // }
    .active-state {
        background-color: #bfe5f3;
    }
}
