.pagination {
    text-align: center;
    div {
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
        &:nth-child(2) {
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
        }
    }
}
